{% extends 'courseapp/template.html' %}
{% block titletext %}
<title>Creating Course</title>
{% endblock %}
<body>
    {% block mainpageinfo %}
    <div class="features_1">
        <h1>Form for creating course</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.name }}
            {{ form.count_of_lc }}
            {{ form.date_start }}
            {{ form.date_end }}
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Submit Course</button>
            <a href="{% url 'course_start' %}" class="create_1 btn btn-danger">Back</a
        </form>
    </div>
    {% endblock %}


</body>
